.registerRoot
  .registerMain
    p.authTitle Регистрация
    .inputBlock
      form.form(action='/register')
        | !{ email }
        | !{ login }
        | !{ firstName }
        | !{ secondName }
        | !{ phone }
        | !{ password }
        | !{ passwordAgain }
        | !{ register }
  .signin
    | !{ loginLink }
