.registerRoot
  .registerMain
    p.authTitle Регистрация
    .inputBlock
      form.form(action='/register')
        | !{ email }
        | !{ login }
        | !{ first_name }
        | !{ second_name }
        | !{ phone }
        | !{ password }
        | !{ passwordAgain }
        | !{ register }
  .signin
    | !{ loginLink }
