.wrapper
  | !{ backButton }
  .information
    .userData
      if isLoading
        p Loading...
      else
        .avatar
          | !{ avatar }
        .inputBlock
          form
            | !{ oldPassword }
            | !{ newPassword }
            | !{ repeatNewPassword }

          .logoutButtonBlock
            | !{ save }

  | !{ uploadFileModal }
