.wrapper
  | !{ backButton }
  .information
    .userData
      .avatar
        | !{ avatar }
      .inputBlock
        form
          | !{ email }
          | !{ login }
          | !{ firstName }
          | !{ lastName }
          | !{ displayName }
          | !{ phone }

          //- Кнопки "Изменить данные" и "Изменить пароль"
          //- .changeButtons
          //-   | !{ changeData }
          //-   | !{ changePassword }

          //- Кнопки "Сохранить" и "Выйти"
          .logoutButtonBlock
            //- | !{ logout }
            | !{ save }

  | !{ uploadFileModal }
