a.chatItemWrapper(class={ active: activeChatId === id })
  .userInfoWrapper
    | !{ avatar }
    .userInfo 
      p.userName= title
      - const lastMessage = last_message?.content
      p.lastMessage= lastMessage
  .messageInfo 
    - const lastTime = last_message?.time
    p.messageDate= timeFormated
    if unread_count
      .unreadCircle
        p.unreadMessagesCount= unread_count
