.chatsWrapper
  .chatsList
    .searchWrapper
      | !{ search }
      .myProfile
        | !{ myProfileLink }
        i.fa.fa-angle-right.angleIcon
    .chatWrapper
      each chat in chats
        | !{ chat }
  
  if !activeChatId
    .chatChoosed
      p.selectChat Выберите чат для отправки сообщения
  else
    .chatBlock
      .chatHeaderBlock
        | !{ chatHeader }
      .chatData
        p.chatDate Вчера
        .messagesBlock
          each message in messages
            | !{ message }

        .sendBlock
          | !{ sendMessage }          
