.chatsWrapper
  .chatsListWrapper
    .chatsList
      .searchWrapper
        .myProfile
          | !{ myProfileLink }
          .angleIcon ❯
      .createChat
        | !{ createNewChatButton }
      .chatWrapper
        if isLoading
          p Loading...
        else
          if chats
            each chat in chatsView
              | !{ chat }
  
  if !activeChatId
    .chatChoosed
      p.selectChat Выберите чат для отправки сообщения
      p.selectChat или создайте новый
  else
    .chatBlock
      .chatHeaderBlock
        | !{ chatHeader }
      .chatData
        .messagesBlock
          .messages
            each message in messages
              .messageContent
                | !{ message }

        .sendBlock
          | !{ sendMessage }  

  | !{ createChatModal }    
  if showNotification
    | !{ notification }
