.chatHeader
  .userInformation
    | !{ avatar }
    p.chatUserName= userName
  | !{ button }
  div.popuptext(id='myPopup')
    | !{ addUser }
    | !{ deleteUser }
    | !{ deleteChat }

  | !{ addChatUserModal }
  | !{ deleteChatUserModal }
  | !{ deleteChatModal }
